*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color:#000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
     background-color: black;
     width: 340px;
     border-radius: 1rem;
     margin: 0.5rem;
    
}
.main-content{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 72px;
    width: 100%;
}
a{
    text-decoration: none;
}
.nav{
    border-radius: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    /* width: 280px; */
    padding: 0.5rem 0.75rem;
    /* left: 20px; */
}
.nav-option{
   line-height: 2.5rem;
   font-weight: 700;
   opacity: 0.7;
   padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    line-height: 2.5rem;
    opacity: 1;
 }
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.6rem;
    padding:0.5rem 0.75rem ;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-library img{
    height: 1.25rem;
    width: 1.25rem;
    height: 40px;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons span{
    
    margin-right: 0.75rem;
    opacity: 0.7;

}
.icons span:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
    background-color: #232323;
}
.box-p2{
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.9;
    background-color: #232323;

}
.badge{
    border: none;
    background-color: #fff;
    border-radius: 100px;
    color: #000;
    font-weight: bold;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 0 0.5rem 0;
    z-index: 10;
}
.sticky-nav-option{
    justify-content: center;
    align-items: center;
    display: flex;
}
.sticky-nav-option button{
    margin: 1rem;
}
.dark{
    background-color: #000;
    color: #fff;
}
 @media (max-width:1000px){
        .hide{
            display: none;
        }
    }
.card{
    background-color: #232323;
    width: 170px;
    height: 320px;
    border-radius: 0.75rem;
   padding: 1rem;
    margin-left:1.5rem;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.75rem;
}
.card-title{
    font-weight: 700;
    background-color: #232323;
}
.card-info{
    background-color: #232323;
    opacity: 0.8;
    font-size: 0.95rem;
}
.card-footer{
    
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
.player-control-icon{
    height: 1rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}
.player-control-icon:hover{
     opacity: 1;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.55rem;
    
}
.progress-bar{
    width: 70%;
    appearance: none;
    cursor: pointer;
    border-radius: 0.5rem;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color:#ddd;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-top: -6px;
}
.album-photo{
    width: 340px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.album-img{
    width: 25px;
    height: 25px;
    display: flex;
    
}
.head{
    font-weight: 700;
} 
.content{
    font-weight: 300;
}   


.control-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.con-icon{
    width: 1.55rem;
    height: 1.55rem;
    line-height: 1.55rem;
   
    margin-left: 5px;

}